<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Candidates</title>
    </head>
    <body>
        <h1>Candidates list</h1>
        <table class="articles" border="1" cellpadding="5" cellspacing="5">
            <td> Names </td>
            <td> Reference </td>
            <td> Scores </td>
            {%for candidate in candidate_scores %}
            <tr data-delivery=candidate.highest>
                <td> {{ candidate.name }} </td>
                <td> {{ candidate.candidate_reference }} </td>
                <td> {{ candidate.scores }} </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>